<br>
<div class="diii">
<div class="row" >
    <div class="col" >
        <div>
            <img src="assets/tisanehappygut.png" class="card-img-top" alt="..." height="300px" width="100px">
        </div>
    </div>
    <div class="col">
        <div>
           
          <h5 class="card-title">TISANES : HAPPY GUT</h5>
          <br>
          <b>7.000 DT</b>
          <br>

          <p class="card-text">Elle est connue pour son efficacité contre la toux, les problèmes de digestion, les maux de tête ou encore le rhume. Calmante, antispasmodique et digestive. </p>
          <br>
          <br>
          <a href="" class="btn btn-success">ajouter panier</a>
        </div>
      </div>
      </div>
    </div>
      <br>
      <br>
      
      <div class="card w-75 mb-3">
        <div class="card-body">
          <h5 class="card-title">Description :</h5>
          <br>
          <p class="card-text"><b>. Compositions :</b> 50gr plantes 100% naturelles

          <br> .  Sauge, Lavande, Badiane, Anis, Menthe, Gingembre
            
         <br><b>Bienfaits :</b>   
            <br>. La tisane Happy Gut, à boire entre les repas, est composée d’un bouquet de plantes qui stimulent le travail des organes digestifs par leurs vertus anti- ballonnement.

            <br>. La Tisane Happy Gut Lutte contre les troubles digestifs
            

           
        
        </p>
      
    </div>
  </div>   
          
            
          
         



