<br>
<div class="diii">
<div class="row" >
    <div class="col" >
        <div>
            <img src="assets/tisanesommeil.jpg" class="card-img-top" alt="..." height="300px" width="100px">
        </div>
    </div>
    <div class="col">
        <div>
           
          <h5 class="card-title">TISANES SOMMEIL </h5>
          <br>
          <b>8.000 DT</b>
          <br>

          <p class="card-text"> Est une tisane pour dormir qui favorise le calme et contribue à l'apparition du sommeil. Elle aide également à normaliser le sommeil, à maintenir un sommeil sain et aide aussi à stimuler le sommeil. </p>
          <br>
          <br>
          <a href="" class="btn btn-success">ajouter panier</a>
        </div>
      </div>
      </div>
    </div>
      <br>
      <br>
      
      <div class="card w-75 mb-3">
        <div class="card-body">
          <h5 class="card-title">Description :</h5>
          <br>
          <p class="card-text"><b>. Compositions :</b>   55gr plantes naturelles 100% naturelles
            <br> .  Camomille/lavande/bouton de rose/fenouil/verveine/feuilles d’oranger amer

         
 
            
         <br><b>Bienfaits :</b>   
            <br>. Notre tisane “sommeil de qualité ” vous assure une nuit calme et douce par les vertus de  6 plantes naturelles.
           

        </p>
      
    </div>
  </div>       
            

           
        
    
          
            
          
         






