<br>
<br>
<h5 class="titre"> CONNEXION</h5>
<hr>
<div class="mb-3 row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-5">
        <input type="email" class="form-control" id="inputEmail">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-5">
      <input type="password" class="form-control" id="inputPassword">
    </div>
    <div class="invalid-feedback">
        se souvenir de moi
      </div>
  </div>

  <br>
  <button type="submit" class="btn btn-success" >Identification</button>
  <br>
  <br>
  <a href="registre" class="btn btn-success">S'enregistrer</a>

  <br>
  <br>
  <br>
  <div class="diii">
  <div class="row" >
      <div class="col" >
          <div>
              <img src="assets/soc1.jpg" class="card-img-top" alt="..." height="300px" width="100px">
          </div>
      </div>
      <div class="col">
          <div>

            <h5 class="card-title"><b>Let's be</b> freinds</h5>
            <br>
            Inscrivez-vous à notre newsletter pour être<br>informés des promotions et évènements.
            <br>
            <br>
            <br>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Email </label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
             <br>
              <button type="button" class="btn btn-dark" style="width: 100px;">S'abonner</button>
            </div>
            <br>

          </div>
        </div>
        </div>
      </div>
