<br>
<br>


<h2 class="title title--both "style="font-size:40px"  ><b>A PROPOS DE NOUS</b></h2>
<br>
<br>

        <div class="home">
          <div>
            <ul class="slides">
              <input type="radio" name="radio-btn" id="img-1" checked />
              <li class="slide-container">
              <div class="slide">
                <img src="assets/app1.jpg" />
                  </div>
              <div class="nav">
                <label for="img-6" class="prev">&#x2039;</label>
                <label for="img-2" class="next">&#x203a;</label>
              </div>
              </li>

              <input type="radio" name="radio-btn" id="img-2" />
              <li class="slide-container">
                  <div class="slide">
                    <img src="assets/app2.jpg" />
                  </div>
              <div class="nav">
                <label for="img-1" class="prev">&#x2039;</label>
                <label for="img-3" class="next">&#x203a;</label>
              </div>
              </li>

              <input type="radio" name="radio-btn" id="img-3" />
              <li class="slide-container">
                  <div class="slide">
                    <img src="assets/app3.jpg" />
                  </div>
              <div class="nav">
                <label for="img-2" class="prev">&#x2039;</label>
                <label for="img-4" class="next">&#x203a;</label>
              </div>
              </li>

              <input type="radio" name="radio-btn" id="img-4" />
              <li class="slide-container">
                  <div class="slide">
                    <img src="assets/app4.jpg" />
                  </div>
              <div class="nav">
                <label for="img-3" class="prev">&#x2039;</label>
                <label for="img-5" class="next">&#x203a;</label>
              </div>
              </li>

              <input type="radio" name="radio-btn" id="img-5" />
              <li class="slide-container">
                  <div class="slide">
                    <img src="assets/app5.jpg" />
                  </div>

              <div class="nav">
                <label for="img-5" class="prev">&#x2039;</label>
                <label for="img-1" class="next">&#x203a;</label>
              </div>
              </li>

              <li class="nav-dots">
                <label for="img-1" class="nav-dot" id="img-dot-1"></label>
                <label for="img-2" class="nav-dot" id="img-dot-2"></label>
                <label for="img-3" class="nav-dot" id="img-dot-3"></label>
                <label for="img-4" class="nav-dot" id="img-dot-4"></label>
                <label for="img-5" class="nav-dot" id="img-dot-5"></label>

              </li>
            </ul></div>


            <div>


              <h5 class="card-title"></h5>


              <p class="card-text">
                   Hbibty Market est dédiée aux femmes rurales, artisans et artisanes pour commercialiser leurs produits sur le marché local et international.
                <br>
                <br> Hbibty sélectionne et prospecte en permanence tous produits qui répond à notre charte : Produits sains, sans ajout, écologique et qui respecte la nature.
                <br>
                <br>Les femmes rurales sont nos partenaires nous portons à cœur leurs ambiances et leurs rêves.
                <br>
                <br><b>Habibty, synonymement, ma chérie, connue sur une échelle mondiale et pas que…</b>
                <br>
                <br>Habibty ou encore H’bibty, est la désignation de la grand-mère dans les pays maghrébins, essentiellement la Tunisie, alors, qu’y a-t-il de plus beau qu’une fusion épicée de la grand-mère chérie !

                <br>Tout comme l’art, Habibty choisit pour vous une gamme d’épices qui sort du lot, triées avec soin et plantées par les femmes rurales aux mains vertes, afin d’assurer non seulement la meilleure saveur dans vos mets cuisinés, mais surtout les épices riches en arômes authentiques comme au bon et délicieux vieux temps de nos grand-mères.

              </p>




            </div>
          </div>





          <div class="titre"><h1>NOTRE MISSION...</h1></div>
          <br>
          <pre>
          <h6 class="card-text" id="orange">

          <b><b> Cher artisan, chère femme rurale… Vous pensez que c’est difficile ? C’est couteux ? C’est compliqué ? Il vous manque d’encadrements ?</b> </b>
          </h6>
      </pre>


            <div class="card-text">
         Confiez-nous cette mission
         <br>
         <br>
         . Habibty s’engage à valoriser votre savoir fait, s’engage à vous accompagner vers le succès et vers l’international.
         <br>
         <br>
         . Habibty s’est engagé dans une économie responsable, sociale et solidaire.
         <br>
         <br>
         . Habibty collabore essentiellement avec les femmes rurales, et participe à l’intégration des artisans et producteurs à la vie économique, afin de créer davantage des échanges
         <br> et d’assurer des revenus supplémentaires pour les femmes rurales et autonomes.
         <br>
         <br>
        . Habibty est une marketplace Responsable, Sociale et Économique.
            </div>
            <br>
            <h5 style="text-align: center;" id="orange"><i>Cher client Manger intelligemment… Manger avec Amour…</i></h5>

    <br>
    <div class="card-text">
      Lorsque les deux cerveaux se complètent, cerveau émotionnel & cerveau cognitif, respectivement, l’un pour donner un sens à ce que nous vivons, l’autre pour avancer de la manière la plus intelligente qui soit, nous ressentons une harmonie intérieure, une véritable béatitude.
      <br>
      <br>

Justement, une alimentation saine relève du savoir, de l’intelligence et de l’amour à désirer offrir le meilleur à son propre corps, cette machine unique, solide et fragile à la fois.
<br>
<br>
Un bon plat, ne peut donc être complet que s’il contient sa bonne dose de bonheur et de bien-être.
<br>
<br>
La poursuite du bonheur réside dans ce qu’on donne à notre corps, en effet, manger sain, c’est maintenir sa bonne santé et donc maintenir un esprit clair et aromatisé.
<br>
<br>
Manger, est l’une des actions les plus naturelles et continuelles tout au long de notre vie, voire, la plus importante.
<br>
<br>
Etre bien dans son corps c’est être bien dans sa tête, être bien dans sa tête c’est être en mesure de bien réfléchir et d’avancer dans ses projets de vie et dans ses rêves. Voici à quel point la bonne nutrition est primordiale.
<br>
<br>
Habibty, la chérie, la grand-mère, vous apporte toute une gamme alimentaire chiadée et passionnée, faite avec art et avec amour.

    </div>
<br>
<br>
<h5 style="text-align: center;" id="orange"><i>Si êtes un artisan, une femme rurales Vous pensez que c’est difficile ? c’est couteux ? c’est compliqué ? il vous manque d’encadrements ?
<br>
 <br> Confiez-nous cette mission Habibty s’engage à vous accompagner vers le succès, vers l’international.</i></h5>
