<br>
<div class="diii">
<div class="row" >
    <div class="col" >
        <div>
            <img src="assets/tisaneconstipation.jpg" class="card-img-top" alt="..." height="300px" width="100px">
        </div>
    </div>
    <div class="col">
        <div>
           
          <h5 class="card-title">TISANES : CONSTIPATIONS</h5>
          <br>
          <b>6.500 DT</b>
          <br>

          <p class="card-text">Est la solution naturelle pour aider le transit en cas de dérèglement comme la constipation, les ballonnements ou l'intestin irritable.</p>
          <br>
          <br>
          <a href="" class="btn btn-success">ajouter panier</a>
        </div>
      </div>
      </div>
    </div>
      <br>
      <br>
      
      <div class="card w-75 mb-3">
        <div class="card-body">
          <h5 class="card-title">Description :</h5>
          <br>
          <p class="card-text"><b>.Compositions</b> : 50gr de plantes 100% naturelles

           <br>. Sené, Camomille, Anis vert, Cannelle, Raisin jaune
           <br><b>Bienfaits :</b> 
            <br>.Tisane à base de plantes naturelles conseillée contre la constipation occasionnelle, laxative, accélère le transit intestinal.

           
        
        </p>
      
    </div>
  </div>   
          
            
          
         

