<br>
<div class="diii">
<div class="row" >
    <div class="col" >
        <div>
            <img src="assets/melangepoulet.jpg" class="card-img-top" alt="..." height="300px" width="100px">
        </div>
    </div>
    <div class="col">
        <div>
           
          <h5 class="card-title">MELANGE POULET</h5>
          <br>
          <b>4.500 DT</b>
          <br>

          <p class="card-text">Mélange d'odeurs subtiles liées à ce mélange d'épices et d'herbes aromatiques. il sublimera à la perfection vos poulets et autres volailles !</p>
          <br>
          <br>
          <a href="" class="btn btn-success">ajouter panier</a>
        </div>
      </div>
     </div>
    </div>
    <br>
    <h5>TAGS</h5> <br>
             <div>
                
                <button type="button" class="btn btn-outline-dark">Bio</button>
                
                <button type="button" class="btn btn-outline-dark">commerce équitable</button>
                <br>
                
                <div class="col ">
                <button type="button" class="btn btn-outline-dark">Naturel</button>
                <button type="button" class="btn btn-outline-dark">Hypoallergénique</button></div>
        
                <button type="button" class="btn btn-outline-dark">sans glutan</button>
                <button type="button" class="btn btn-outline-dark">Riche en fer</button>
                <div class="col ">
                <button type="button" class="btn btn-outline-dark">Riche en fibre</button>
                <button type="button" class="btn btn-outline-dark">sans lactose</button></div>
                <button type="button" class="btn btn-outline-dark">Faible teneur en graisses équitable </button>
                <br>
                <button type="button" class="btn btn-outline-dark">Keto</button>
            </div>
    <br>
<br>
<div class="dii">
<div class="card w-75 mb-3">
  <div class="card-body">
    <h5 class="card-title">Description :</h5>
    <br>
    <p class="card-text"><b>.  </b>: 
      <br> <b>. Lipides </b>: 12%
      <br> <b>. Protéines </b>: 9%
      <br> <b>Côté micronutriments: </b>
      <br>il est riche en vitamines, minéraux et antioxydants, notamment la curcumine.
      <br> <b>. Vitamine B(B3,B6)</b>
      <br> <b>. Vitamine C</b>
      <br> <b>. Riche en minéraux, notamment en cuivre, fer, magnésium, manganèse, potassium et zinc.</b>
    </p>

  </div>
</div>
</div>

