<br>
<div class="diii">
<div class="row" >
    <div class="col" >
        <div>
            <img src="assets/sokor.jpg" class="card-img-top" alt="..." height="300px" width="100px">
        </div>
    </div>
 
    <div class="col">
        <div>
           
          <h5 class="card-title">SUCRE DE DATTES BIO</h5>
          <br>
          <b>6.000 DT</b>
          <br>

          <p class="card-text">D'aspect et de goût, le sucre de dattes ressemble au sucre brun mais celui-ci est plus rond et plus doux en bouche avec une petite touche discrètement fruitée. Particulièrement apprécié dans les boissons et pâtisseries, son pouvoir sucrant est plus important que le sucre blanc raffiné</p>
          <br>
          <br>
          <a href="" class="btn btn-success"> ajouter panier </a>
        </div>
      </div>
    </div>
  </div>
  <br>
<h5>TAGS</h5> <br>
         <div>
            
            <button type="button" class="btn btn-outline-dark">Bio</button>
            
            <button type="button" class="btn btn-outline-dark">commerce équitable</button>
            <br>
            
            <div class="col ">
            <button type="button" class="btn btn-outline-dark">Naturel</button>
            <button type="button" class="btn btn-outline-dark">Hypoallergénique</button></div>
    
            <button type="button" class="btn btn-outline-dark">sans glutan</button>
            <button type="button" class="btn btn-outline-dark">Riche en fer</button>
            <div class="col ">
            <button type="button" class="btn btn-outline-dark">Riche en fibre</button>
            <button type="button" class="btn btn-outline-dark">sans lactose</button></div>
            <button type="button" class="btn btn-outline-dark">Faible teneur en graisses équitable </button>
            <br>
            <button type="button" class="btn btn-outline-dark">Keto</button>
        </div>
      <br>
      <br>
      
      <div class="card w-75 mb-3">
        <div class="card-body">
          <h5 class="card-title">Description :</h5>
          <br>
          <p class="card-text"><b>.  100% de dattes déshydratées </b>
            <br> <b>. Excellente source de fibres alimentaires </b>
            <br>.Riche en glucides 
            <br>.Pouvoir antioxydant 
           <br >.Fournit de l’énergie rapidement 
           <br> .Favorise le bien-être digestif
          </p>
      
        </div>
      </div>
      
      
              
             
              
           



