<br>
<div class="diii">
<div class="row" >
    <div class="col" >
        <div>
            <img src="assets/keten.jpg" class="card-img-top" alt="..." height="300px" width="100px">
        </div>
    </div>
    <div class="col">
        <div>
           
          <h5 class="card-title">GRAINE DE CHIA</h5>
          <br>
          <b>8.000 DT</b>
          <br>

          <p class="card-text">La graine de chia est la Reine des graines. C’est un super-aliment aux propriétés nutritionnelles particulières et remarquables. La graine de chia est extrêmement riche en acides gras essentiels de type Oméga 3 et en Vitamine E. Elle possède une teneur élevée en fibres record ce qui lui confère un grand pouvoir rassasiant une fois hydratée. 5 g de Chia couvrent 50% des apports journaliers recommandés en oméga 3 !</p>
          <br>
          <br>
          <a href="" class="btn btn-success">ajouter panier</a>
        </div>
      </div>
      </div>
    </div>
    <br>
<h5>TAGS</h5> <br>
         <div>
            
            <button type="button" class="btn btn-outline-dark">Bio</button>
            
            <button type="button" class="btn btn-outline-dark">commerce équitable</button>
            <br>
            
            <div class="col ">
            <button type="button" class="btn btn-outline-dark">Naturel</button>
            <button type="button" class="btn btn-outline-dark">Hypoallergénique</button></div>
    
            <button type="button" class="btn btn-outline-dark">sans glutan</button>
            <button type="button" class="btn btn-outline-dark">Riche en fer</button>
            <div class="col ">
            <button type="button" class="btn btn-outline-dark">Riche en fibre</button>
            <button type="button" class="btn btn-outline-dark">sans lactose</button></div>
            <button type="button" class="btn btn-outline-dark">Faible teneur en graisses équitable </button>
            <br>
            <button type="button" class="btn btn-outline-dark">Keto</button>
        </div>
      <br>
      <br>
      
      <div class="card w-75 mb-3">
        <div class="card-body">
          <h5 class="card-title">Description :</h5>
          <br>
          <p class="card-text"><b>. phosphore (535 mg) </b>
            <br> <b>. calcium (500 mg) </b>
            <br> <b>. potassium (600 mg) </b>
            <br> <b>. magnésium (290 mg) </b>
            
            <br> <b>. fer (6,5 mg) </b>
            <br> <b>. zinc (5 mg)</b>
            <br> . <b> Les vitamines sont :</b>  du groupe B (B1, B3, B8) et la vitamine E.
          </p>
      
        </div>
      </div>
       
     
    


