<br>
<h1 style="text-align: center;" id="orange"><i>The World Of Oula</i></h1>
<h2 style="text-align: center;">La oula (arabe : العولة) ou mouna est une tradition tunisienne de préparation des réserves alimentaires pour l'hiver. Celles-ci sont constituées de matières premières, comme les céréales et les dattes, ou d'aliments séchés et destinés à une future consommation. </h2>
<br>

<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/malya.jpg" class="d-block w-100" alt="..." height="500px" width="800">
      </div>
      <div class="carousel-item">
        <img src="assets/femme.jpg" class="d-block w-100" alt="..." height="500px" width="800">
      </div>
      <div class="carousel-item">
        <img src="assets/dar.jpg" class="d-block w-100" alt="..." height="500px" width="800">
      </div>
     
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <br>
  <br>
  <hr>
  <h2 class="title title--both "style="font-size:60px" >.Nos Oula .</h2>
  <hr>
  <br>
  <br>
  <div class="row" style="width:80rem">
    <div class="col" >
        <div>
            <img src="assets/couscous.jpg" class="card-img-top" alt="...">
            <h5 class="card-title">COUSCOUS</h5>
            <p class="card-text">Hibiscus 500gr-Hbibty Bio
              <br> <b>2.5 DT</b> 
               <br>
               <br>
               <br>
            </p>
            <br>
            <a href="Couscous" class="btn btn-success">Découvrir</a>
        </div>
    </div>
    <div class="col">
        <div>
            <img src="assets/tebel.jpg" class="card-img-top" alt="..." height="245px">
          <h5 class="card-title">SOUPE</h5>
          <p class="card-text">Soupe 100gr-Hbibty Bio
            <br> <b>3.5 DT</b>
          </p>
          <br>
          <a href="Soupe" class="btn btn-success">Découvrir</a>
        </div>
      </div>
      <div class="col">
        <div>
            <img src="assets/felfelahmer.jpg" class="card-img-top" alt="..." height="250px">
          <h5 class="card-title">CORÉTE</h5>
          <p class="card-text">Corete 100gr-Hbibty Bio  
            <br> <b>4.2 DT</b> 
          </p>
          <br>
          
          <a href="Corete" class="btn btn-success">Découvrir</a>
        </div>
      </div>
        <div class="col">
            <div>
                <img src="assets/melangepoulet.jpg" class="card-img-top" alt="..." height="250px">
              <h5 class="card-title">HLÉLIM</h5>
              <p class="card-text"> Hlelim 100gr-Hbibty Bio
                 <b>2.5 DT</b>
              </p>
              <br>
              
              <a href="Hlelim" class="btn btn-success">Découvrir</a>
            </div>
          </div>
          <div class="col">
            <div>
                <img src="assets/felfelakhel.jpg" class="card-img-top" alt="..." height="250px">
              <h5 class="card-title">MHAMIS</h5>
              <p class="card-text">Mhamis 100gr-Hbibty Bio
                <br> <b>2.5 DT</b>
              </p>
              <br>
              <a href="Mhamis" class="btn btn-success">Découvrir</a>
            </div>
          </div>
          <div class="col">
            <div>
                <img src="assets/felfelakhel.jpg" class="card-img-top" alt="..." height="250px">
              <h5 class="card-title">NWASSER</h5>
              <p class="card-text">Mhamis 100gr-Hbibty Bio
                <br> <b>2.5 DT</b>
              </p>
              <br>
              <a href="Mhamis" class="btn btn-success">Découvrir</a>
            </div>
          </div>
          <br>
          <br>
          <br>
