<br>
<div class="diii">
<div class="row" >
    <div class="col" >
        <div>
            <img src="assets/couscous.jpg" class="card-img-top" alt="..." height="300px" width="100px">
        </div>
    </div>
    <div class="col">
        <div>
           
          <h5 class="card-title">HLÉLIM</h5>
          <br>
          <b>2.500 DT</b>
          <br>

          <p class="card-text">Les hlalem sont un mets à base de pâtes, préparé sous forme de soupe, issu de la tradition culinaire tunisienne.</p>
          <br>
          <br>
          <a href="" class="btn btn-success">ajouter panier</a>
        </div>
      </div>
      </div>
    </div>
      <br>
      <br>
      
      <div class="card w-75 mb-3">
        <div class="card-body">
          <h5 class="card-title">Description :</h5>
          <br>
          <p class="card-text"><b>.Bienfaits</b>
           <br>. Riche en fibres naturels et glucide.
           <br>. Riche par le gout et les bienfaits du blé. 
           <br>. Riche en calories et très énergétique.
          </p>
        </div>
      </div>
           
            
           
           
           
            
       
         

      

            
            
           
         
      
      




