<br>
<div class="diii">
<div class="row" >
    <div class="col" >
        <div>
            <img src="assets/felfelakhel.jpg" class="card-img-top" alt="..." height="300px" width="100px">
        </div>
    </div>
    <div class="col">
        <div>
           
          <h5 class="card-title">Poivre</h5>
          <br>
          <b>4.500 DT</b>
          <br>

          <p class="card-text">On constate que le noir est beaucoup plus riche en nutriments et vitamines. Le niveau de fibres et de protéines est presque équivalent. Pour répondre à la question, le poivre qui procure le plus de bienfaits sur la santé est le poivre noir, sans aucun doute possible.</p>
          <br>
          <br>
          <a href="Poivre" class="btn btn-success">ajouter panier</a>
        </div>
      </div>
     </div>
    </div>
    <br>
<h5>TAGS</h5> <br>
         <div>
            
            <button type="button" class="btn btn-outline-dark">Bio</button>
            
            <button type="button" class="btn btn-outline-dark">commerce équitable</button>
            <br>
            
            <div class="col ">
            <button type="button" class="btn btn-outline-dark">Naturel</button>
            <button type="button" class="btn btn-outline-dark">Hypoallergénique</button></div>
    
            <button type="button" class="btn btn-outline-dark">sans glutan</button>
            <button type="button" class="btn btn-outline-dark">Riche en fer</button>
            <div class="col ">
            <button type="button" class="btn btn-outline-dark">Riche en fibre</button>
            <button type="button" class="btn btn-outline-dark">sans lactose</button></div>
            <button type="button" class="btn btn-outline-dark">Faible teneur en graisses équitable </button>
            <br>
            <button type="button" class="btn btn-outline-dark">Keto</button>
        </div>
     <br>
     <br>
     
     <div class="card w-75 mb-3">
       <div class="card-body">
         <h5 class="card-title"> <b>Description :</b></h5>
         <br>
         <p class="card-text"><b>. Riche en: </b>
           <br>   potassium 
           <br>  calcium 
           <br>  magnésium 
           <br>  phosphore 
           <br>  fer 
           <br>  manganèse 
           <br>   zinc 
           <br>  cuivre 
           <br>  sélénium 
           <br>  iode 
           <br>  vitamine E, A, B1, B2, B3, B6, B9. 
           
           
          
         </p>
     
       </div>
     </div>
   


