<br>
<div class="diii">
<div class="row" >
    <div class="col" >
        <div>
            <img src="assets/kharoub.jpg" class="card-img-top" alt="..." height="300px" width="100px">
        </div>
    </div>
    <div class="col">
        <div>
           
          <h5 class="card-title">CAROUB EN POUDRE</h5>
          <br>
          <b>6.500 DT</b>
          <br>

          <p class="card-text">
            La poudre de caroube est un allié minceur si vous envisagez une perte de poids. Sa teneur en fibre en fait un parfait coupe-faim naturel tout comme le psyllium. Les fibres prennent une texture de gel une fois dans l'estomac. Cette texture gélatineuse tapisse les parois de l'estomac et réduit la sensation de faim.
          </p>
          <br>
          <br>
          <a href="" class="btn btn-success">ajouter panier</a>
        </div>
      </div>
      </div>
    </div>
    <br>
<h5>TAGS</h5> <br>
         <div>
            
            <button type="button" class="btn btn-outline-dark">Bio</button>
            
            <button type="button" class="btn btn-outline-dark">commerce équitable</button>
            <br>
            
            <div class="col ">
            <button type="button" class="btn btn-outline-dark">Naturel</button>
            <button type="button" class="btn btn-outline-dark">Hypoallergénique</button></div>
    
            <button type="button" class="btn btn-outline-dark">sans glutan</button>
            <button type="button" class="btn btn-outline-dark">Riche en fer</button>
            <div class="col ">
            <button type="button" class="btn btn-outline-dark">Riche en fibre</button>
            <button type="button" class="btn btn-outline-dark">sans lactose</button></div>
            <button type="button" class="btn btn-outline-dark">Faible teneur en graisses équitable </button>
            <br>
            <button type="button" class="btn btn-outline-dark">Keto</button>
        </div>
      <br>
      <br>
      
      <div class="card w-75 mb-3">
        <div class="card-body">
          <h5 class="card-title">Description :</h5>
          <br>
          <p class="card-text"><b>. Sucre (40%) </b>
            <br> <b>. Amidon (35%)  </b>
            <br> <b>. Protéines (7%) </b>
           
          </p>
      
        </div>
      </div>
     
       
         

      



