<div class="container">




  <header class="fixed_nav">
     <nav class="title">

    <div> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-award-fill" viewBox="0 0 16 16">
      <path d="m8 0 1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z"/>
      <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>

    </svg><a> Hommages aux Femmes rurales</a></div>
  </nav>
    <nav>

      <a class="navbar-brand" href="#">
        <img src="assets/1234.jpg" alt="Bootstrap" width="100" height="100">
      </a>


      <form novalidate="novalidate" onsubmit="return false;" class="searchbox">
        <div role="search" class="searchbox__wrapper">
          <input id="search-input" type="search" name="search" placeholder="search" autocomplete="off"
            required="required" class="searchbox__input">
          <span type="submit" class="loupe">
            <svg role="img" aria-label="Search">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sbx-icon-search-13" ></use>
            </svg>
          </span>
          <button type="reset" title="Clear the search query." class="searchbox__reset hide" href="registre" >
            <svg role="img" aria-label="Reset">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#sbx-icon-clear-3"></use>
            </svg>
          </button>
        </div>
      </form>

      <div class="svg-icons" style="height: 0; width: 0; position: absolute; visibility: hidden">
        <svg xmlns="http://www.w3.org/2000/svg">
          <symbol id="sbx-icon-clear-3" viewBox="0 0 40 40">
            <path
              d="M16.228 20L1.886 5.657 0 3.772 3.772 0l1.885 1.886L20 16.228 34.343 1.886 36.228 0 40 3.772l-1.886 1.885L23.772 20l14.342 14.343L40 36.228 36.228 40l-1.885-1.886L20 23.772 5.657 38.114 3.772 40 0 36.228l1.886-1.885L16.228 20z"
              fill-rule="evenodd" />
          </symbol>
          <symbol id="sbx-icon-search-13" viewBox="0 0 40 40">
            <path
              d="M26.806 29.012a16.312 16.312 0 0 1-10.427 3.746C7.332 32.758 0 25.425 0 16.378 0 7.334 7.333 0 16.38 0c9.045 0 16.378 7.333 16.378 16.38 0 3.96-1.406 7.593-3.746 10.426L39.547 37.34c.607.608.61 1.59-.004 2.203a1.56 1.56 0 0 1-2.202.004L26.807 29.012zm-10.427.627c7.322 0 13.26-5.938 13.26-13.26 0-7.324-5.938-13.26-13.26-13.26-7.324 0-13.26 5.936-13.26 13.26 0 7.322 5.936 13.26 13.26 13.26z"
              fill-rule="evenodd" />
          </symbol>
        </svg>
      </div>
      <div class="links">
        <a href="profil"> <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-person"
            viewBox="0 0 16 16">
            <path
              d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z" />
          </svg></a>

        <a href="panier"> <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cart3"
            viewBox="0 0 16 16">
            <path
              d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
          </svg></a>



      </div>

    </nav>
    <nav>

      <div class="links">


        <a routerLink="">Home</a>
        <a routerLink="Epices">Epices</a>
        <a routerLink="Oula"> Oula </a>
        <a routerLink="Infusions">Infusions</a>
        <a routerLink="snacks">Snacks</a>

        <select class="form-select" required >
          <option selected  value="" >Artisanat</option>
          <option ><a href="">tableaux</a></option>
          <option ><a href="">miroir</a></option>
          <option ><a href="">plateaux</a></option>
          <option ><a href="">fouta</a></option>
        </select>
        <a routerLink="Shop">Shop</a>
      </div>
      <div class="links">

        <a routerLink="contact">Contact</a>
        <a routerLink="Apropos">A Propos</a>




      </div>

    </nav>

  </header>





</div>
<div class="container">
  <br>
  <br>
  <br>
  <br>


  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
<router-outlet></router-outlet>
</div>
