<br>
<div class="diii">
<div class="row" >
    <div class="col" >
        <div>
            <img src="assets/couscous.jpg" class="card-img-top" alt="..." height="300px" width="100px">
        </div>
    </div>
    <div class="col">
        <div>
           
          <h5 class="card-title">CORÉTE</h5>
          <br>
          <b>2.500 DT</b>
          <br>

          <p class="card-text">La corète appelé méloukhia en Tunisie est une plante qu'on fait sécher réduite par la suite en poudre pour réaliser un ragoût.</p>
          <br>
          <br>
          <a href="" class="btn btn-success">ajouter panier</a>
        </div>
      </div>
      </div>
    </div>
      <br>
      <br>
      
      <div class="card w-75 mb-3">
        <div class="card-body">
          <h5 class="card-title">Description :</h5>
          <br>
          <p class="card-text"><b>. Bienfaits</b>
           <br>.Excellente pour l'immunité et le transit.
           <br>.Elle contient 2000 mg de calcium.
           <br>.Elle est également riche en fer.
          </p>
        </div>
      </div>
           
            
           
           
           
            
       
         

      

            
            
           
         
      
      




