<br>
<div class="diii">
<div class="row" >
    <div class="col" >
        <div>
            <img src="assets/couscous.jpg" class="card-img-top" alt="..." height="300px" width="100px">
        </div>
    </div>
    <div class="col">
        <div>
           
          <h5 class="card-title">COUSCOUS</h5>
          <br>
          <b>2.500 DT</b>
          <br>

          <p class="card-text">Le couscous tunisien en arabe tunisien : 'كسكسي' est un plat national d'origine berbère diffusé dans tout le Maghreb , il est fait principalement de semoule arrosée d'eau et d'huile, tamisée et roulée en petits grains et cuite à la vapeur de la soupe des légumes .</p>
          <br>
          <br>
          <a href="" class="btn btn-success">ajouter panier</a>
        </div>
      </div>
      </div>
    </div>
      <br>
      <br>
      
      <div class="card w-75 mb-3">
        <div class="card-body">
          <h5 class="card-title">Description :</h5>
          <br>
          <p class="card-text"><b>.couscous fait maison séchage soleil 100% naturel</b>
           
          
          </p>
        </div>
      </div>
           
            
           
           
           
            
       
         

      

            
            
           
         
      
      



