<br>
<div class="diii">
<div class="row" >
    <div class="col" >
        <div>
            <img src="assets/tisaneimmunite.jpg" class="card-img-top" alt="..." height="300px" width="100px">
        </div>
    </div>
    <div class="col">
        <div>
           
          <h5 class="card-title">TISANES : IMMUNITÉ ET VITALITÉ</h5>
          <br>
          <b>6.000 DT</b>
          <br>

          <p class="card-text">Contribue à renforcer les défenses naturelles – Résistance et vitalité. </p>
          <br>
          <br>
          <a href="" class="btn btn-success">ajouter panier</a>
        </div>
      </div>
      </div>
    </div>
      <br>
      <br>
      
      <div class="card w-75 mb-3">
        <div class="card-body">
          <h5 class="card-title">Description :</h5>
          <br>
          <p class="card-text"><b>. Compositions :</b>  plantes 100% naturelles

          <br> . Cyprès, Réglisse, Raisin jaune, Raisin noir, Fraise séché, Thym, Curcuma, Eucalyptus.
 
            
         <br><b>Bienfaits :</b>   
            <br>. Boostez l’immunité.

            <br>. Renforcer le système immunitaire contre les grippes.
            

           
        
        </p>
      
    </div>
  </div>   
          
            
          
         




