<br>
<div class="diii">
<div class="row" >
    <div class="col" >
        <div>
            <img src="assets/zanjabil.jpg" class="card-img-top" alt="..." height="300px" width="100px">
        </div>
    </div>
    <div class="col">
        <div>
           
          <h5 class="card-title">GINGEMBRE MOULU</h5>
          <br>
          <b>3.200 DT</b>
          <br>

          <p class="card-text">La racine de gingembre moulue peut être utilisée partout en cuisine. Elle donnera une saveur incomparable à toutes vos recettes de viandes, poissons, légumes et potages. Cette épice est aussi bonne en cuisine que pour la santé. Issu de l'agriculture biologique.</p>
          <br>
          <br>
          <a href="" class="btn btn-success">ajouter panier</a>
        </div>
      </div>
      </div>
      <br>
<h5>TAGS</h5> <br>
         <div>
            
            <button type="button" class="btn btn-outline-dark">Bio</button>
            
            <button type="button" class="btn btn-outline-dark">commerce équitable</button>
            <br>
            
            <div class="col ">
            <button type="button" class="btn btn-outline-dark">Naturel</button>
            <button type="button" class="btn btn-outline-dark">Hypoallergénique</button></div>
    
            <button type="button" class="btn btn-outline-dark">sans glutan</button>
            <button type="button" class="btn btn-outline-dark">Riche en fer</button>
            <div class="col ">
            <button type="button" class="btn btn-outline-dark">Riche en fibre</button>
            <button type="button" class="btn btn-outline-dark">sans lactose</button></div>
            <button type="button" class="btn btn-outline-dark">Faible teneur en graisses équitable </button>
            <br>
            <button type="button" class="btn btn-outline-dark">Keto</button>
        </div>
      <br>
      <br>
      
      <div class="card w-75 mb-3">
        <div class="card-body">
          <h5 class="card-title">Description :</h5>
          <br>
          <p class="card-text"><b>.   manganèse </b>
            <br> <b>. phosphore </b>
            <br> <b>. magnésium</b>
            <br> <b>. calcium </b>
            <br> <b>. sodium</b>
            <br> <b>. sfer </b>
            <br> <b>. Il contient également des vitamines : B3, B1 et B2 en plus faible quantité.</b>
           
          </p>
      
        </div>
      </div>
       
         

      </div>

