<br>
<div class="diii">
<div class="row" >
    <div class="col" >
        <div>
            <img src="assets/tisaneminceur.jpg" class="card-img-top" alt="..." height="300px" width="100px">
        </div>
    </div>
    <div class="col">
        <div>
           
          <h5 class="card-title">TISANE MINCEUR</h5>
          <br>
          <b>9.000 DT</b>
          <br>

          <p class="card-text">Est une infusion de plantes qui va agir sur un ou plusieurs mécanismes qui permettent de moduler le poids.</p>
          <br>
          <br>
          <a href="" class="btn btn-success">ajouter panier</a>
        </div>
      </div>
      </div>
    </div>
      <br>
      <br>
      
      <div class="card w-75 mb-3">
        <div class="card-body">
          <h5 class="card-title">Description :</h5>
          <br>
          <p class="card-text"><b>.</b> Composée de Fucus Vésiculeux, Vigne rouge, Ortie piquante, Achillée millefeuille, Lierre grimpant, Reine des Prés, Ache des marais, Chardon Roland, Bourdaine et Réglisse. Axe d'action : Aide à la perte de poids grâce à l'Achillée millefeuille et au Fucus Vésiculeux.

              <br> <b>. Bienfaits :  </b> 
           <br>. La Tisane minceur Brûle-graisses, détox, antioxydante, coupe faim ou encore diurétique, cette tisane minceur, va vous donner un coup de pouce pour éliminer et perdre du poids. 
       
        </p>
      
    </div>
  </div>   
          
            
          
         

