<br>
<div class="diii">
<div class="row" >
    <div class="col" >
        <div>
            <img src="assets/gerfa.jpg" class="card-img-top" alt="..." height="300px" width="100px">
        </div>
    </div>
    <div class="col">
        <div>
           
          <h5 class="card-title">CANELLE MOULU</h5>
          <br>
          <b>6.800 DT</b>
          <br>

          <p class="card-text">la cannelle est une substance végétale aromatique provenant de l'écorce interne du cannelier. Sa forme d’origine ressemble à de petits tubes, mais on la consomme souvent moulue. Très appréciée pour sa saveur parfumée, elle est également riche en antioxydants bénéfiques pour la santé.</p>
          <br>
          <br>
          <a href="" class="btn btn-success">ajouter panier</a>
        </div>
      </div>
      </div>
      </div>
      <br>
<h5>TAGS</h5> <br>
         <div>
            
            <button type="button" class="btn btn-outline-dark">Bio</button>
            
            <button type="button" class="btn btn-outline-dark">commerce équitable</button>
            <br>
            
            <div class="col ">
            <button type="button" class="btn btn-outline-dark">Naturel</button>
            <button type="button" class="btn btn-outline-dark">Hypoallergénique</button></div>
    
            <button type="button" class="btn btn-outline-dark">sans glutan</button>
            <button type="button" class="btn btn-outline-dark">Riche en fer</button>
            <div class="col ">
            <button type="button" class="btn btn-outline-dark">Riche en fibre</button>
            <button type="button" class="btn btn-outline-dark">sans lactose</button></div>
            <button type="button" class="btn btn-outline-dark">Faible teneur en graisses équitable </button>
            <br>
            <button type="button" class="btn btn-outline-dark">Keto</button>
        </div>
      <br>
    <br>
    
    <div class="card w-75 mb-3">
      <div class="card-body">
        <h5 class="card-title">Description :</h5>
        <br>
        <p class="card-text"><b>. Benzoate de benzyle</b>
          <br> <b>. Aldéhyde cinnamique </b>
          <br> <b>. Aldéhyde cinnamique</b>
          
        </p>
    
      </div>
    </div>
 
