<br>
<div class="diii">
<div class="row" >
    <div class="col" >
        <div>
            <img src="assets/7out.jpg" class="card-img-top" alt="..." height="300px" width="100px">
        </div>
    </div>
    <div class="col">
        <div>
           
          <h5 class="card-title">MELANGE POISSON</h5>
          <br>
          <b>4.800 DT</b>
          <br>

          <p class="card-text"> Est un mélange d'herbes et épices comprenant des graines d'aneth, de l'aneth en feuilles, des graines de fenouil, du persil, du romarin et des baies roses (faux poivre). C'est le mélange spécial poissons, un mélange à la fois doux et aromatique très facile d'utilisation.</p>
          <br>
          <br>
          <a href="" class="btn btn-success">ajouter panier</a>
        </div>
      </div>
      </div>
    </div>
    <br>
<h5>TAGS</h5> <br>
         <div>
            
            <button type="button" class="btn btn-outline-dark">Bio</button>
            
            <button type="button" class="btn btn-outline-dark">commerce équitable</button>
            <br>
            
            <div class="col ">
            <button type="button" class="btn btn-outline-dark">Naturel</button>
            <button type="button" class="btn btn-outline-dark">Hypoallergénique</button></div>
    
            <button type="button" class="btn btn-outline-dark">sans glutan</button>
            <button type="button" class="btn btn-outline-dark">Riche en fer</button>
            <div class="col ">
            <button type="button" class="btn btn-outline-dark">Riche en fibre</button>
            <button type="button" class="btn btn-outline-dark">sans lactose</button></div>
            <button type="button" class="btn btn-outline-dark">Faible teneur en graisses équitable </button>
            <br>
            <button type="button" class="btn btn-outline-dark">Keto</button>
        </div>
      <br>
      <br>
      
      <div class="card w-75 mb-3">
        <div class="card-body">
          <h5 class="card-title">Description :</h5>
          <br>
          <p class="card-text"><b>. Zinc </b>
            <br> <b>. sélénium  </b>
            <br> <b>. phosphore </b>
            <br> . joue un rôle important dans le maintien des dents, des os, des reins et du système nerveux central. 
           
          </p>
        </div>
      </div>
       
         

      

            
            
           
         
      
      


