<br>
<div class="diii">
<div class="row" >
    <div class="col" >
        <div>
            <img src="assets/tisanecocooning.png" class="card-img-top" alt="..." height="300px" width="100px">
        </div>
    </div>
    <div class="col">
        <div>
           
          <h5 class="card-title">TISANE : COCOONING</h5>
          <br>
          <b>6.000 DT</b>
          <br>

          <p class="card-text">Composée d'hibiscus, de morceaux de pomme et de cannelle, d'écorce d'orange et de citron, de cynorhodon, d'extrait de vanille (équitable), d'arôme naturel d'abricot mais aussi de rooibos, cette tisane sans théine libère des saveurs agréablement chaudes plutôt suaves et fruitées.</p>
          <br>
          <br>
          <a href="" class="btn btn-success">ajouter panier</a>
        </div>
      </div>
      </div>
    </div>
      <br>
      <br>
      
      <div class="card w-75 mb-3">
        <div class="card-body">
          <h5 class="card-title">Description :</h5>
          <br>
          <p class="card-text"><b>.Tisanes 50g plantes naturelles</b>

            <br> <b>.  Compositions :  </b>   Sauge, Marjolaine, Badiane, Anis, Verveine, Rose 
          
             <br> <b>. Bienfaits :  </b> 
           <br>. La tisane Cocooning lutte naturellement et efficacement contre les troubles
            prémenstruels. 
          <br>  . Elle agit sur la douleur due aux règles et aide à réguler le cycle.
        </p>
      
    </div>
  </div>   
          
            
          
         
