<br>
<div class="diii">
<div class="row" >
    <div class="col" >
        <div>
            <img src="assets/felfelakhel.jpg" class="card-img-top" alt="..." height="300px" width="100px">
        </div>
    </div>
    <div class="col">
        <div>
           
          <h5 class="card-title">Sirop de datte</h5>
          <br>
          <b>7.200 DT</b>
          <br>

          <p class="card-text">Est un sirop sucré foncé (mélasse de fruit) obtenu à partir d'extrait de dattes et typique de la cuisine du Moyen-Orient.</p>
          <br>
          <br>
          <a href="Poivre" class="btn btn-success">ajouter panier</a>
        </div>
      </div>
     </div>
    </div>
     <br>
     <br>
     
     <div class="container">
      <div class="col ">
      <header>
          <br>
      
          <div class="home">
     <h5>TAGS</h5> <br>
           <div>
              
              <button type="button" class="btn btn-outline-dark">Bio</button>
              
              <button type="button" class="btn btn-outline-dark">commerce équitable</button>
              <br>
              
              <div class="col ">
              <button type="button" class="btn btn-outline-dark">Naturel</button>
              <button type="button" class="btn btn-outline-dark">Hypoallergénique</button></div>
      
              <button type="button" class="btn btn-outline-dark">sans glutan</button>
              <button type="button" class="btn btn-outline-dark">Riche en fer</button>
              <div class="col ">
              <button type="button" class="btn btn-outline-dark">Riche en fibre</button>
              <button type="button" class="btn btn-outline-dark">sans lactose</button></div>
              <button type="button" class="btn btn-outline-dark">Faible teneur en graisses équitable </button>
              <br>
              <button type="button" class="btn btn-outline-dark">Keto</button>
          </div>
          </div>
          </header>
          </div>
          </div>
     
          <br>
          <h5>TAGS</h5> <br>
                   <div>
                      
                      <button type="button" class="btn btn-outline-dark">Bio</button>
                      
                      <button type="button" class="btn btn-outline-dark">commerce équitable</button>
                      <br>
                      
                      <div class="col ">
                      <button type="button" class="btn btn-outline-dark">Naturel</button>
                      <button type="button" class="btn btn-outline-dark">Hypoallergénique</button></div>
              
                      <button type="button" class="btn btn-outline-dark">sans glutan</button>
                      <button type="button" class="btn btn-outline-dark">Riche en fer</button>
                      <div class="col ">
                      <button type="button" class="btn btn-outline-dark">Riche en fibre</button>
                      <button type="button" class="btn btn-outline-dark">sans lactose</button></div>
                      <button type="button" class="btn btn-outline-dark">Faible teneur en graisses équitable </button>
                      <br>
                      <button type="button" class="btn btn-outline-dark">Keto</button>
                  </div>  
     <div class="card w-75 mb-3">
     
       <div class="card-body">
        
         <h5 class="card-title"> <b>Description :</b></h5>
         <br>
         <p class="card-text"><b>.Bienfaits </b>
           
    
           
        
         <br> .Une vraie source d’énergie pour l’organisme vu qu’il contient des glucides
         <br> .Lutte contre l’anémie vu sa richesse en aligo- éléments
         <br> .Riche en protéine qui brulent les graisses et régule l’appétit                
        
         <br> .Contrairement au sucre blanc qui ne contient que du saccharose, le sirop de datte conserve les minéraux du fruit et notamment le potassium, qui intervient dans la contraction musculaire, le magnésium antistress, le fer antifatigue, et le calcium, important pour la solidité osseuse. 
        <br>
        <br>
        <br> <b>.Utilisation</b>
          <br>.Solution saine pour remplacer le sucre blanc
          <br>.Pour les gâteaux, cakes…Pâtisseries Healthy By Hbibty
          <br>.A déguster dans les yaourts, avec les céréales ou avec le fromage blanc
           
          
         </p>
     
       </div>
       
     </div>
  
   



