<div class="col">
<div class="diii">
<br>
<h2 class="title title--both " style="text-align: center;" >.BIENVENUE.</h2>
</div>
<br>
<h5>CATÉGORIES DES PRODUITS</h5> <br>

  <a href="Epices" class="link-dark">Epices</a>
<br>
<a href="Oula" class="link-dark">Oula</a>
<br>
<a href="Infusions" class="link-dark">Infusions</a>
<br>
<a href="snacks" class="link-dark">Snacks</a>
<br>
<a href="Artisanat" class="link-dark">Artisanat</a>

<br>
<br>
<h5>TAGS</h5> <br>
         <div>
            
            <button type="button" class="btn btn-outline-dark">Bio</button>
            
            <button type="button" class="btn btn-outline-dark">commerce équitable</button>
            <br>
            
            <div class="col ">
            <button type="button" class="btn btn-outline-dark">Naturel</button>
            <button type="button" class="btn btn-outline-dark">Hypoallergénique</button></div>
    
            <button type="button" class="btn btn-outline-dark">sans glutan</button>
            <button type="button" class="btn btn-outline-dark">Riche en fer</button>
            <div class="col ">
            <button type="button" class="btn btn-outline-dark">Riche en fibre</button>
            <button type="button" class="btn btn-outline-dark">sans lactose</button></div>
            <button type="button" class="btn btn-outline-dark">Faible teneur en graisses équitable </button>
            <br>
            <button type="button" class="btn btn-outline-dark">Keto</button>
        </div>
<br>
<br>
        <div class="col ">
<div class="row" style="width:80rem">
  <div class="col" >
      <div>
          <img src="assets/korkom.jpg" class="card-img-top" alt="..." height="250px">
        <h5 class="card-title">CURCUMA</h5>
        <p class="card-text">Curcuma 100gr-Hbibty Bio 
          <br> <b>2.5 DT</b>
        </p>

        <a href="Curcuma" class="btn btn-success">Découvrir</a>
      </div>
  </div>
  <div class="col">
      <div>
          <img src="assets/tebel.jpg" class="card-img-top" alt="..." height="245px">
        <h5 class="card-title">CORIANDRE</h5>
        <p class="card-text">Coriandre 100gr-Hbibty Bio
          <br> <b>3.5 DT</b>
        </p>
        <a href="Coriandre" class="btn btn-success">Découvrir</a>
      </div>
    </div>
    <div class="col">
      <div>
          <img src="assets/felfelahmer.jpg" class="card-img-top" alt="..." height="250px">
        <h5 class="card-title">PAPRIKA</h5>
        <p class="card-text">Paprika 100gr-Hbibty Bio 
          <br> <b>4.2 DT</b> 
        </p>
        
        
        <a href="Paprika" class="btn btn-success">Découvrir</a>
      </div>
    </div>
      <div class="col">
          <div>
              <img src="assets/melangepoulet.jpg" class="card-img-top" alt="..." height="250px">
            <h5 class="card-title">MELANGE POULET</h5>
            <p class="card-text"> Melange poulet 100gr-Hbibty Bio
               <b>4.5 DT</b>
            </p>
            <a href="Melangepoulet" class="btn btn-success">Découvrir</a>
          </div>
          </div>
<br>
<br>
<div class="row" style="width:80rem">
  <div class="col" >
      <div>
          <img src="assets/couscous.jpg" class="card-img-top" alt="...">
          <h5 class="card-title">COUSCOUS</h5>
          <p class="card-text">Hibiscus 500gr-Hbibty Bio
            <br> <b>2.5 DT</b> 
             <br>
             <br>
             
          </p>
         
          <a href="Couscous" class="btn btn-success">Découvrir</a>
      </div>
  </div>
  <div class="col">
      <div>
          <img src="assets/tebel.jpg" class="card-img-top" alt="..." height="245px">
        <h5 class="card-title">SOUPE</h5>
        <p class="card-text">Soupe 100gr-Hbibty Bio
          <br> <b>3.5 DT</b>
        </p>
        <br>
        <a href="Soupe" class="btn btn-success">Découvrir</a>
      </div>
    </div>
    <div class="col">
      <div>
          <img src="assets/felfelahmer.jpg" class="card-img-top" alt="..." height="250px">
        <h5 class="card-title">CORÉTE</h5>
        <p class="card-text">Corete 100gr-Hbibty Bio  
          <br> <b>4.2 DT</b> 
        </p>
        <br>
        
        <a href="Corete" class="btn btn-success">Découvrir</a>
      </div>
    </div>
      <div class="col">
          <div>
              <img src="assets/melangepoulet.jpg" class="card-img-top" alt="..." height="250px">
            <h5 class="card-title">HLÉLIM</h5>
            <p class="card-text"> Hlelim 100gr-Hbibty Bio
               <b>2.5 DT</b>
            </p>
            <br>
            
            <a href="Hlelim" class="btn btn-success">Découvrir</a>
          </div>
        </div>
        <br>
        <br>
        <div class="row" style="width:80rem">
          <div class="col" >
              <div>
                  <img src="assets/bis.jpg" class="card-img-top" alt="..." height="250px">
                  <h5 class="card-title">HIBISCUS</h5>
                  <p class="card-text">Hibiscus 50gr-Hbibty Bio
                    <br> <b>3.5 DT</b> 
                     <br>
                     <br>
                     <br>
                  </p>
                  <br>
                  <a href="Hibiscus" class="btn btn-success ">Découvrir</a>
              </div>
          </div>
          <div class="col">
              <div>
                  <img src="assets/tisanecocooning.png" class="card-img-top" alt="..." height="245px">
                <h5 class="card-title">TISANE : COCOONING</h5>
                <p class="card-text">Tisane : Cocooning 50gr-Hbibty Bio
                  <br> <b>6 DT</b>
                </p>
                <br>
                <br>
                <br>
                <a href="Tisanecocooning" class="btn btn-success">Découvrir</a>
              </div>
            </div>
            <div class="col">
              <div>
                  <img src="assets/tisaneminceur.jpg" class="card-img-top" alt="..." height="250px">
                <h5 class="card-title"> TISANE MINCEUR</h5>
                <p class="card-text">Tisane : Minceur 55gr-Hbibty Bio 
                  <br> <b>9 DT</b> 
                </p>
                <br>
                <br>
                <br>
            
                <a href="Tisaneminceur" class="btn btn-success">Découvrir</a>
              </div>
            </div>
              <div class="col">
                  <div>
                      <img src="assets/tisaneconstipation.jpg" class="card-img-top" alt="..." height="250px">
                    <h5 class="card-title">TISANES : CONSTIPATIONS</h5>
                    <p class="card-text"> Tisanes : constipation 50gr-Hbibty Bio
                       <b>6.5 DT</b>
                    </p>
                    <br>
                    <br>
                    <br>
                    <a href="Tisaneconstipation" class="btn btn-success">Découvrir</a>
                  </div>
                </div>
  <br>
 <br>
 <br>
<br>
<br>
 <div class="diii" >
<br> <style ></style>
<nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="Home" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
     
      <li class="page-item"><a class="page-link" href="Epices">1</a></li>
      <li class="page-item"><a class="page-link" href="Oula">2</a></li>
      <li class="page-item"><a class="page-link" href="Infusions">3</a></li>
      <li class="page-item"><a class="page-link" href="Snacks">4</a></li>
      <li class="page-item"><a class="page-link" href="Artisanat">5</a></li>
    
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>

</div>
</div>