<br>
<div class="diii">
<div class="row" >
    <div class="col" >
        <div>
            <img src="assets/tisaneserenity.png" class="card-img-top" alt="..." height="300px" width="100px">
        </div>
    </div>
    <div class="col">
        <div>
           
          <h5 class="card-title">TISANES SERENITY </h5>
          <br>
          <b>6.000 DT</b>
          <br>

          <p class="card-text"> Propose un mélange biologique aux propriétés calmantes et relaxantes. Contient notamment de la camomille, de la scutellaire. </p>
          <br>
          <br>
          <a href="" class="btn btn-success">ajouter panier</a>
        </div>
      </div>
      </div>
    </div>
      <br>
      <br>
      
      <div class="card w-75 mb-3">
        <div class="card-body">
          <h5 class="card-title">Description :</h5>
          <br>
          <p class="card-text"><b>. Compositions :</b>   50gr plantes naturelles 100% naturelles
            <br> .  Verveine, Rose, Lavande

         
 
            
         <br><b>Bienfaits :</b>   
            <br>. La tisane savoureuse et fleurie “Serenity”, allie les substances sédatives de la verveine aux vertus relaxantes de la lavande pour un sommeil apaisant.
            <br>. La tisane Serenity favorise la relaxation et le sommeil.

        </p>
      
    </div>
  </div>       
            

           
        
    
          
            
          
         





