<br>
<div class="diii">
<div class="row" >
    <div class="col" >
        <div>
            <img src="assets/tisaneFight.png" class="card-img-top" alt="..." height="300px" width="100px">
        </div>
    </div>
    <div class="col">
        <div>
           
          <h5 class="card-title">TISANES : FIGHT</h5>
          <br>
          <b>6.000 DT</b>
          <br>

          <p class="card-text">Est une tisane digestive à base de thym par exemple va clairement améliorer votre digestion. </p>
          <br>
          <br>
          <a href="" class="btn btn-success">ajouter panier</a>
        </div>
      </div>
      </div>
    </div>
      <br>
      <br>
      
      <div class="card w-75 mb-3">
        <div class="card-body">
          <h5 class="card-title">Description :</h5>
          <br>
          <p class="card-text"><b>. Compositions :</b> 50g plantes 100% naturelles

          <br> . Romarin, Gingembre, Thym, Camomille, zeste de Citron
            
         <br><b>Bienfaits :</b>   
            <br>. La tisane “Fight” augmente les défenses naturelles de l’organisme. La synergie des plantes qui la composent, aide l’organisme à prévenir et à lutter contre les états grippaux
           <br>. La tisane “Fight” renforce le système immunitaire

           
        
        </p>
      
    </div>
  </div>   
          
            
          
         


