<br>
<div class="diii">
<div class="row" >
    <div class="col" >
        <div>
            <img src="assets/felfelahmer.jpg" class="card-img-top" alt="..." height="300px" width="100px">
        </div>
    </div>
    <div class="col">
        <div>
           
          <h5 class="card-title">PAPRIKA</h5>
          <br>
          <b>4.200 DT</b>
          <br>

          <p class="card-text">Le paprika tient son pouvoir antioxydant de la vitamine E qu'il contient en quantité considérable, il sera donc très bon pour prévenir notamment des maladies cardio-vasculaires.</p>
          <br>
          <br>
          <a href="" class="btn btn-success">ajouter panier</a>
        </div>
      </div>
      </div>
      <br>
<h5>TAGS</h5> <br>
         <div>
            
            <button type="button" class="btn btn-outline-dark">Bio</button>
            
            <button type="button" class="btn btn-outline-dark">commerce équitable</button>
            <br>
            
            <div class="col ">
            <button type="button" class="btn btn-outline-dark">Naturel</button>
            <button type="button" class="btn btn-outline-dark">Hypoallergénique</button></div>
    
            <button type="button" class="btn btn-outline-dark">sans glutan</button>
            <button type="button" class="btn btn-outline-dark">Riche en fer</button>
            <div class="col ">
            <button type="button" class="btn btn-outline-dark">Riche en fibre</button>
            <button type="button" class="btn btn-outline-dark">sans lactose</button></div>
            <button type="button" class="btn btn-outline-dark">Faible teneur en graisses équitable </button>
            <br>
            <button type="button" class="btn btn-outline-dark">Keto</button>
        </div>
      <br>
      <br>
      
      <div class="card w-75 mb-3">
        <div class="card-body">
          <h5 class="card-title">Description :</h5>
          <br>
          <p class="card-text"><b>. Riche en fer.</b>
            <br><b>. Source de potassium.</b>
            <br><b>. Source de vitamine E.</b>
            <br><b>. Source de vitamine K.</b>
            <br><b>. Source de vitamine B2.</b>
            <br><b>. Energie:319 kcal.</b> 
            <br><b>. Cuivre:0,71 mg.</b> 
           
          </p>
      
        </div>
      </div>
     </div>
