<br>
<h1 style="text-align: center;" id="orange"><i>The World Of Infusion</i></h1>
<h2 style="text-align: center;"> L'infusion est donc une des techniques les plus fréquemment utilisées pour préparer une tisane. Elle consiste simplement à verser de l'eau frémissante sur les plantes. La durée d'infusion varie entre 5 à 10 minutes selon les plantes, avant filtrage.</h2>
<br>

<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/tisanehbiba.jpg" class="d-block w-100" alt="..." height="500px" width="800">
      </div>
      <div class="carousel-item">
        <img src="assets/tisanekess.jpg" class="d-block w-100" alt="..." height="500px" width="800">
      </div>
      <div class="carousel-item">
        <img src="assets/tisanehbibty.jpg" class="d-block w-100" alt="..." height="500px" width="800">
      </div>
     
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <br>
  <br>
  <hr>
  <h2 class="title title--both "style="font-size:60px" >.Nos Infusions .</h2>
  <hr>
  <br>
  <br>
  <div class="row" style="width:80rem">
    <div class="col" >
        <div>
            <img src="assets/bis.jpg" class="card-img-top" alt="...">
            <h5 class="card-title">HIBISCUS</h5>
            <p class="card-text">Hibiscus 50gr-Hbibty Bio
              <br> <b>3.5 DT</b> 
               <br>
               <br>
               <br>
            </p>
            <a href="Hibiscus" class="btn btn-success ">Découvrir</a>
        </div>
    </div>
    <div class="col">
        <div>
            <img src="assets/tisanecocooning.png" class="card-img-top" alt="..." height="245px">
          <h5 class="card-title">TISANE : COCOONING</h5>
          <p class="card-text">Tisane : Cocooning 50gr-Hbibty Bio
            <br> <b>6 DT</b>
          </p>
          <br>
          <br>
          <br>
          <a href="Tisanecocooning" class="btn btn-success">Découvrir</a>
        </div>
      </div>
      <div class="col">
        <div>
            <img src="assets/tisaneminceur.jpg" class="card-img-top" alt="..." height="250px">
          <h5 class="card-title"> TISANE MINCEUR</h5>
          <p class="card-text">Tisane : Minceur 55gr-Hbibty Bio 
            <br> <b>9 DT</b> 
          </p>
          <br>
          <br>
          <br>
          <br>
          <a href="Tisaneminceur" class="btn btn-success">Découvrir</a>
        </div>
      </div>
        <div class="col">
            <div>
                <img src="assets/tisaneconstipation.jpg" class="card-img-top" alt="..." height="250px">
              <h5 class="card-title">TISANES : CONSTIPATIONS</h5>
              <p class="card-text"> Tisanes : constipation 50gr-Hbibty Bio
                 <b>6.5 DT</b>
              </p>
              <br>
              <br>
              <br>
              <a href="Tisaneconstipation" class="btn btn-success">Découvrir</a>
            </div>
          </div>
          <div class="col">
            <div>
                <img src="assets/tisaneFight.png" class="card-img-top" alt="..." height="250px">
              <h5 class="card-title">TISANES : FIGHT </h5>
              <p class="card-text">TISANES : FIGHT 50gr-Hbibty Bio
                <br> <b>6 DT</b>
              </p>
              <br>
              <br>
              <br>
              <a href="Tisanefight" class="btn btn-success">Découvrir</a>
            </div>
          </div>
          <br>
          <br>
          <br>

          <br>

  <hr>
  <br>
  <br>
  <div class="row" style="width:80rem">
    <div class="col" >
        <div>
            <img src="assets/tisanehappygut.png" class="card-img-top" alt="...">
            <h5 class="card-title">TISANES: HAPPY GUT </h5>
            <p class="card-text">TISANES: HAPPY GUT 50gr-Hbibty Bio
              <br> <b>7 DT</b> 
               <br>
               <br>
               
            </p>
            <a href="Tisanehappygut" class="btn btn-success ">Découvrir</a>
        </div>
    </div>
    <div class="col">
        <div>
            <img src="assets/tisaneimmunite.jpg" class="card-img-top" alt="..." height="400px">
          <h5 class="card-title">TISANES : IMMUNITÉ ET VITALITÉ</h5>
          <p class="card-text">Tisanes : immunite et vitalite 50gr-Hbibty Bio
            <br> <b>6 DT</b>
          </p>
         
          
          
          
          <a href="Tisaneimmunite" class="btn btn-success">Découvrir</a>
        </div>
      </div>
      <div class="col">
        <div>
            <img src="assets/tisaneserenity.png" class="card-img-top" alt="..." height="445px">
          <h5 class="card-title"> TISANE SERENITY</h5>
          <p class="card-text">Tisane : Serenity 50gr-Hbibty Bio 
            <br> <b>6 DT</b> 
          </p>
          
          
          <a href="Tisaneserenity" class="btn btn-success">Découvrir</a>
        </div>
      </div>
        <div class="col">
            <div>
                <img src="assets/tisanesommeil.jpg" class="card-img-top" alt="..." height="450px">
              <h5 class="card-title">TISANES SOMMEIL</h5>
              <p class="card-text"> Tisanes sommeil 55gr-Hbibty Bio
                 <b>8 DT</b>
              </p>
              <br>
              <a href="Tisanesommeil" class="btn btn-success">Découvrir</a>
            </div>
          </div>
         
          
 