<br>
<div class="diii">
<div class="row" >
    <div class="col" >
        <div>
            <img src="assets/bis.jpg" class="card-img-top" alt="..." height="300px" width="100px">
        </div>
    </div>
    <div class="col">
        <div>
           
          <h5 class="card-title">HIBISCUS</h5>
          <br>
          <b>3.500 DT</b>
          <br>

          <p class="card-text">Outre ses vertus désaltérantes, la tisane à l'hibiscus est connue pour ses vertus minceur, drainantes et digestives. Les fleurs infusées, de couleur rouge foncé, renferment une quantité importante de polyphénols (flavonoïdes et les anthocyanes), de la vitamine C et des acides de fruits.</p>
          <br>
          <br>
          <a href="" class="btn btn-success">ajouter panier</a>
        </div>
      </div>
      </div>
    </div>
      <br>
      <br>
      
      <div class="card w-75 mb-3">
        <div class="card-body">
          <h5 class="card-title">Description :</h5>
          <br>
          <p class="card-text"><b>. Acides organiques :</b> acides citrique, malique, tartrique, oxalique, acorbique 
            <br> <b>.  Anthocyanosides : </b> delphinidine et dérivés, cyanidol-3-sambubioside (donnait à l'infusion la couleur du von rouge) 
            <br> <b>. Flavonoïdes : </b>3-glucoside de gossypétine
            <br> <b>. Polysaccharides, mucilages, pectines </b>
            
          
          </p>
      
        </div>
      </div>
     
       
           
           
           
        



