<br>
<div class="diii">
<div class="row" >
    <div class="col" >
        <div>
            <img src="assets/ras.jpg" class="card-img-top" alt="..." height="300px" width="100px">
        </div>
    </div>
    <div class="col">
        <div>
           
          <h5 class="card-title">RAS HANOUT</h5>
          <br>
          <b>3.300 DT</b>
          <br>

          <p class="card-text"> Le ras el-hanout (arabe : رأس الحانوت), parfois orthographié raz-el-hanout, littéralement « tête de l'épicerie », est un mélange d'épices et d'herbes aromatiques utilisé dans toute l'Afrique du Nord. </p>
          <br>
          <br>
          <a href="" class="btn btn-success">ajouter panier</a>
        </div>
      </div>
      </div>
    </div>
      <br>
      <br>
      
      <div class="card w-75 mb-3">
        <div class="card-body">
          <h5 class="card-title">Description :</h5>
          <br>
          <p class="card-text"><b>.  50 % de poivre noir </b>
            <br> <b>. 25 % de noix de muscade </b>
            <br> <b>. 15 % de clous de girofle</b>
            <br> <b>. 10 % de gingembre ou de cannelle</b>
           
          </p>
        </div>
      </div>
       
         

      

            
            
           
         
      
      


